html {
  height: 100%;
}
body {
  background-color: #eeeeee;
  text-align: center;
  min-height: 2000px;
  position: relative;
  padding-bottom: 100px;
}

/* Navbar */
nav {
  height: 5%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  background-color: #222831;
  color: #eeeeee;
}

h1.nav-item {
  font-size: 10vh;
  margin-left: 3vw;
}

.nav-item {
  color: #eeeeee;
  margin: auto 0;
  text-align: center;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav-list-item {
  color: #eeeeee;
  font-size: 3vh;
  position: relative;
  left: 12vw;
  margin: 0 2vw;
}

.nav-list-item:hover {
  text-decoration: none;
  color: #00adb5;
}

.btn-nav {
  color: #222831;
  font-size: 1.3rem;
  margin-top: 25%;
  font-weight: bold;
  position: relative;
  right: 200px;
}

.btn-nav:hover {
  text-decoration: none;
  color: #00adb5;
}

.container {
  margin-bottom: 200px;
  margin-top: 200px;
}

.avatar {
  width: 50px;
  height: 50px;
  margin-top: 20px;
}

/* Login */

.form-paragraph {
  text-decoration: none;
  color: #222831;
}

.form-paragraph:hover {
  color: #222831;
}

form.login {
  text-align: center;
  position: relative;
  margin-top: 20vh;
}

.container.login {
  width: 90%;
  min-height: 45rem;
  background-color: #eeeeee;
  box-shadow: 1px 1px 10px -1px #222831;
}

input.login,
textarea.article {
  width: 90%;
  position: relative;
  text-align: center;
  display: inline-block;
  border-radius: 3px;
  margin: 0px 0px 25px 0px;
  color: #222831;
  background-color: #eeeeee;
}

.btn {
  width: 90%;
}

.btn-google {
  margin-top: 20px;
}
.heading {
  font-size: 2.5rem;
  color: #222831;
  margin: 30px auto;
}

.right-part {
  margin: 10% 1%;
}

input.login::placeholder {
  opacity: 30%;
  color: #222831;
}

input.login:focus,
textarea.article:focus {
  background-color: #eeeeee;
  box-shadow: 1px 1px 7px -1px #222831;
}

.login-img {
  position: relative;
  right: 1vw;
  min-height: 60rem;
  width: 110%;
}

.signIn-paragraph {
  color: #222831;
  font-size: 1rem;
  margin-top: 20px;
}

.signIn-paragraph:hover {
  text-decoration: underline;
  color: #222831;
}

/* CreateArticle */

textarea {
  text-align: left;
  overflow: auto;
  font-size: 2rem;
  resize: none;
}

/* Home Page */

.home-title {
  font-size: 5rem;
  padding-bottom: 50px;
}

.background-img {
  width: 100%;
  min-height: 1000px;
  margin-bottom: 10vh;
}

.btn-outline-dark {
  color: #222831;
  font-size: 1.6rem;
  font-weight: 500;
  position: relative;
  bottom: 900px;
  margin: 0 auto;
  height: 60px;
  width: 300px;
  border-radius: 0%;
  border-width: 2px;
}

.author-card {
  display: inline-block;
  color: grey;
  position: relative;
  top: 15px;
  left: 20px;
}

.avatarCircle {
  width: 4vw;
  height: 4vw;
  border-radius: 100%;
  background-color: #222831;
  display: block;
  text-align: center;
  position: relative;
  top: 2vh;
}

.avatarCircle-letter {
  font-size: 5vh;
  margin: auto;
  color: #eeeeee;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  color: #eeeeee;
}

/* Carousel Items */

.carousel {
  background-color: #222831;
  margin: 100px auto;
  color: #eeeeee;
}

.carousel-item {
  padding: 15%;
}
/*Article Card */

.article-card {
  width: 80%;
  margin: 40px auto;
  color: #222831;
  text-align: left;
  border-radius: 3px;
  box-shadow: 1px 1px 20px -10px #222831;
  padding: 2vh 2vw;
}

/* .fa-bookmark {
  font-size: 20px;
} */
.bookmark-btn {
  width: 20%;
  margin: 1vw;
}
.article-card:hover {
  color: #222831;
  text-decoration: none;
  text-decoration-line: none;
}

.article-card-text {
  color: #222831;
}

.article-card-text:hover {
  color: #222831;
}

/* Article Page */
.article {
  margin: 0 auto;
  width: 80%;
}

.article-title {
  margin: 5vh;
  font-size: 2.5rem;
}

.article-paragraph {
  font-size: 1.5rem;
}

/* Footer */

footer {
  background-color: #222831;
  color: #eeeeee;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.footer-paragraph {
  text-align: center;
  margin-top: 1.2rem;
  color: #eeeeee;
}

/* About  */
.about-heading {
  font-size: 3rem;
}

.about-paragraph {
  font-size: 1.5rem;
}

@media only screen and (max-width: 768px) {
  .right-part {
    width: 100%;
  }

  .login-img {
    width: 100%;
    right: 2vw;
    float: left;
  }

  .avatarCircle {
    width: 11vw;
    height: 11vw;
    border-radius: 100%;
    background-color: #222831;
    display: block;
    text-align: center;
    position: relative;
    top: 2vh;
  }

  .bookmark-btn {
    width: 80%;
    margin: 1vw;
  }
  .avatarCircle-letter {
    font-size: 3.5vh;
    margin: auto;
    color: #eeeeee;
  }
}
